<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Vente en ligne{% endblock %}</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>