<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Vente en ligne{% endblock %}</title>
        <meta charset="UTF-8"/>
        <link href="{{ asset("styles/general.css") }}" rel="stylesheet">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>

{#  Clementine Guillot et Louis Forestier #}