{% extends '/Layouts/generalLayout.html.twig' %}

{% block style %}
    <link href="{{ asset("styles/styleSite.css") }} " rel="stylesheet">
{% endblock %}

{% block body %}
    <div>
        {{ render(controller('App\\Controller\\AccueilController::imageEntete')) }}
    </div>
    <div>
        {{ render(controller('App\\Controller\\AccueilController::menu')) }}
    </div>
    <div>
        <h1>{% block titre_principal %}{% endblock %}</h1>
        {% block vue %}{% endblock %}
    </div>
    <div>
        {% block footer %}
            <img src="{{ asset("images/footer.PNG") }}">
        {% endblock %}
    </div>
{% endblock %}