{% extends '/Layouts/generalLayout.html.twig' %}

{% block style %} <link rel="stylesheet" href="{{ path("/styles/styleSite.css") }}"> {% endblock %}

{% block body %}
    <div>
        {% block entete %}{% endblock %}
    </div>
    <h1>{% block titre_principal %}{% endblock %}</h1>
    <div>
        {% block menu %}{% endblock %}
    </div>
    <div>
        {% block footer %}
            <img src="{{ asset("images/footer.PNG") }}">
        {% endblock %}
    </div>
{% endblock %}