{% extends '/Layouts/siteInconnuLayout.html.twig' %}

{% block style %} <link rel="stylesheet" href="../../public/styles/styleAccueil.css"> {% endblock %}

{% block titre_principal %} Bienvenue ! {% endblock %}

{% block menu %} <p> Vous n'êtes pas authentifié. </p> {% endblock %}