{% extends '/Layouts/siteLayout.html.twig' %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset("styles/styleAccueil.css") }} " rel="stylesheet">
{% endblock %}

{% block titre_principal %} Bienvenue ! {% endblock %}

{% block vue %}
    {% if utilisateur is null %}
    <p> Vous n'êtes pas connecté. </p>
    {% else %}
    {% if utilisateur.isadmin %}
        <p> Vous êtes un administrateur. </p>
    {% else %}
        <p> Vous êtes un client. </p>
    {% endif %}
    {% endif %}
    {% for msg in app.session.flashBag.get('info') %}
        <p> {{ msg }}</p>
    {% endfor %}
{% endblock %}

{#  Clementine Guillot et Louis Forestier #}